@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/functions.scss";
.pokedetails {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    &__name {
        font-size: 2rem;
        font-weight: bold;
        text-transform: capitalize;
        margin: 1rem 0;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 0;

        &-item {
            display: inline-block;
            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: 0.5rem;
            text-transform: capitalize;
            font-weight: bold;
            color: $pokeball-top-color;
            background-color: $pokeball-middle-color;

            &.attack {
                background-color: get-color("attack");
            }
            &.defense {
                background-color: get-color("defense");
            }
            &.special-attack {
                background-color: get-color("special-attack");
            }
            &.speed {
                background-color: get-color("speed");
            }
            &.special-defense {
                background-color: get-color("special-defense");
            }
            &.hp {
                background-color: get-color("hp");
            } 
            &.ability {
                position: "relative";
                cursor: "pointer";
            }
        }

    }

    &__button {
        display: block;
        margin: 0 auto;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-transform: capitalize;
        font-weight: bold;
        color: $pokeball-top-color;
        background-color: $pokeball-middle-color;
        border: none;
        cursor: pointer;
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 0;
        display: inline-block;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        text-transform: capitalize;
        font-weight: bold;
        color: $pokeball-top-color;
        background-color: $pokeball-middle-color;
    }

    &___stats {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 0;

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: 0.5rem;
            text-transform: capitalize;
            font-weight: bold;
            color: $pokeball-top-color;
            background-color: $pokeball-middle-color;
            width: 100px;
            height: 100px;

            &-name {
                font-size: 0.8rem;
            }

            &-value {
                font-size: 1.2rem;
            }


        }
    }

    &-tooltip {
        position: absolute;
        top: -20px;
        display: inline-block;
        border-bottom: 1px dotted black;
        width: 120px;
        background-color: $pokeball-top-color;
        color: $pokeball-middle-color;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        z-index: 1;
      }
}

