.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &-link {
        display: inline-block;
        list-style: none;
        text-decoration: none;
    }
}